<p>processtoapply works!</p>
<h1><b></b></h1>

<p class="text-center mb-5">
 <b> Process To Apply is Given below:</b>
</p>
<nav>

  <label for="touch"><span class="txt">1. Car Loan Application Process
    

  </span></label>               
  <input type="checkbox" id="touch"> 

  <ul class="slide">
    <li><a href="#" class="txt ln">In the very first step, the applicants need to fill up an application form of their desired bank
      with all the vital particulars such as their personal details and other required credentials.
      [2] Document verification-After the submission of the application, the borrowers are required to upload all the documents mandated by the banks. 
       Since the car is the guarantee in case of a car loan, documents regarding that need to be provided.
       [3] Loan approval-If the bank finds all the document valid and find the borrower to be 
         capable of paying the loan EMIs on time, they will approve the loan amount within a short duration of 2 days.
         [4] Loan disbursal- The loan amount is disbursed to the applicant after a certain time. In other words, 
           the banks provide a certain percentage of the amount that the buyer has invested in buying his/her car.
    </a>
    </li>
  </ul>
  </nav>
<nav>
  <label for="touch1"><span class="txt">2. Types of Car Loans Offered
    

  </span></label>               
  <input type="checkbox" id="touch1"> 

  <ul class="slide">
    <li><a href="#" class="txt ln"> <p><b>[1] Loan for a new car-</b>As the name suggests, a new car loan is a finance that banks provide to the buyers for the purchase of a new car. Usually, banks 
      provide up to 85% of the total value of the car under this type of car finance. In such type of loans, the buyer can avail the loan amount either before or after purchasing the car,
       however it is up to the bank's discretion. The car is hypothecated as security and the user needs to pay the EMIs regularly to pay off the loan amount within specified loan tenure. 
       The banks can repossess the car in case of EMI pay defaults.
    </p><br>
    <p><b>[2] Loan for a used car-</b> A used car or a pre-owned car as it is called is a car which is already used by one or multiple users for a certain time period. Banks or finance agencies offer loan for
      such pre-owned cars which are not old more than 3 years. Since cars are depreciating assets and tend to lose their value with every passing year the loan amount for such cars are comparatively 
      low than the loan amount offered for a new car. Banks offer minimum 50% to 80% of the existing market value of the car. In certain cases, banks offer up to 90% of the car value.
    </p>
        <p><b>[3] Loan against a car-</b>This is a special type of car loan where the banks provide a loan to the borrowers against their car to meet their financial requirements. Borrowers who are in need of money benefit from this type of car loan. 
          A customer can avail up to 50-80% of the existing value of the car under this loan. The car is taken as the security in this case and is released after the borrower repays the loan amount within time.

        </p><br>  
    </a></li> 
    
  
  </ul>

</nav> 

<nav>
  <label for="touch2"><span class="txt"> 3. Factors of Car Loan Approval in India
    

  </span></label>               
  <input type="checkbox" id="touch2"> 

  <ul class="slide">
    <li><a href="#" class="txt ln"><p><b>[1] Applicant's CIBIL score-</b>The CIBIL score plays a vital role when it comes to car loan approval in India. CIBIL score is the rating given to an individual customer by the Bureau of CIBIL based on his/her past loan repayment record.
      If the borrower is found to be consistent in paying the loan EMIs on time, the person is given a high rating. On the contrary, borrowers who were not regular with their EMI payments are offered a low credit score.
   </p><br>
   <p><b>[2] Car loan repayment period-</b> Usually in India the car loan repayment period ranges between 1-7 years. It is up to the comfort of the borrower what repayment tenure he/she wants to pick. The repayment tenure has a significant role to play in deciding the monthly EMIs. 
     If the tenure is higher, the EMIs are low and if the tenure is shorter, the EMIs are naturally more. However, it is preferable that the buyers fix a shorter repayment tenure as they will otherwise have to pay more as interest.
   </p><br>
       <p><b>[3] Age of the car-</b>The age of the vehicle is a very important aspect which the lenders consider while offering a car loan in India. The age of the car is very important to determine the value of the car. Usually, in India, the value of a car starts depreciating the moment
          it is driven out of the showroom at least by 10%. After that, with every passing year, the value keeps on decreasing. Banks or lenders provide used car loans for pre-owned cars which are not more than 3 years old. This way they ensure that in case of loan defaults they will be able
           to collect the invested money by repossessing the value without ending into a loss.
       </p><br>  </a></li> 
    
  
  </ul>

</nav> 

<nav>
  <label for="touch3"><span class="txt"> 4. Car Loan Interest Rates
 

  </span></label>               
  <input type="checkbox" id="touch3"> 

  <ul class="slide">
    <li><a href="#" class="txt ln"> The interest rate is the most vital decisive factor of a car loan. In other words, the interest rate is the sale bait 
      which is used by the banks and finance agencies to sell their loan products. In this regard, it can safely say that that the car loans at present work in India on the basis of promotion and the level of competition is very intense and high. 
      For example, if one bank offers car loans starting from 8.99% p.a. other banks challenge it by offering loans at 8.50% p.a. or even lesser. On an average, the top leading banks and other financial agencies in India are offering car loans at an 
      interest rate ranging from 10% p.a. to 13% p.a. However, the interest rate is not same for all the borrowers and it varies from case to case. Depending on the borrower's profile, applied loan amount, repayment tenure and certain other factors a 
      final interest rate is offered by the banks to the borrowers..
    </a></li> 
   
  </ul>
