
<!--Section: FAQ-->

<h1><b>FAQ's</b></h1>

<p class="text-center mb-5">
 <b> Find the answers for the most frequently asked questions below:</b>
</p>
<nav>

  <label for="touch"><span class="txt">1.  What is the loan amount I can get?
    

  </span></label>               
  <input type="checkbox" id="touch"> 

  <ul class="slide">
    <li><a href="#" class="txt ln">Most lenders (Banks/NBFC) provide 80% - 90% of the showroom price of the car. The rest which includes the rest of the car price, road tax registration extra need to be covered by the borrower.</a></li> 
    
  </ul>
  </nav>
<nav>
  <label for="touch1"><span class="txt">2. What is the tenure or loan period?
    

  </span></label>               
  <input type="checkbox" id="touch1"> 

  <ul class="slide">
    <li><a href="#" class="txt ln"> The tenure offered by most lenders is 1-5 years but in some special cases the tenure could be extended to a maximum of 7 years. It is best to pay off the loan as quickly as possible as cars have depreciation as time goes by and you will pay more than its cost. But if you want to reduce the EMI then opt for the longer tenure.
    </a></li> 
    
  
  </ul>

</nav> 

<nav>
  <label for="touch2"><span class="txt">3.       What is the interest rate? What are the types available?
    

  </span></label>               
  <input type="checkbox" id="touch2"> 

  <ul class="slide">
    <li><a href="#" class="txt ln">There are 2 types of interest rates the fixed and floating rate. In the fixed rate you will have a fixed EMI which you will pay till the duration of the loan this is also safer. With the floating rate the interest rate varies according to the economic situation and tends to change.
      The interest rate starts from 8.80% and varies from bank to bank. It will depend on your credit score, salary, the loan amount you want and the tenure.</a></li> 
    
  
  </ul>

</nav> 

<nav>
  <label for="touch3"><span class="txt">4.       What are the documents that are required to avail a car loan?
 

  </span></label>               
  <input type="checkbox" id="touch3"> 

  <ul class="slide">
    <li><a href="#" class="txt ln">            The documents that need to be submitted are - Age proof, ID proof, Application form, Photograph, Residence proof, Income proof, Bank statement, Signature verification proof, Pro-forma Invoice or Rate List.
    </a></li> 
   
  </ul>

</nav> 
<nav>
  <label for="touch4"><span class="txt">5.       What is the processing time for the car loan?
    

  </span></label>               
  <input type="checkbox" id="touch4"> 

  <ul class="slide">
    <li><a href="#" class="txt ln">Usually it takes banks at least a week to process and application which will include background verification and loan amount disbursal. It may take some additional time if the bank and its employees/agents are tied up with a lot of applications.</a></li> 
    
  
  </ul>

</nav> 
<nav>
  <label for="touch5"><span class="txt">6.       Are the loan terms negotiable?
    

  </span></label>               
  <input type="checkbox" id="touch5"> 

  <ul class="slide">
    <li><a href="#" class="txt ln">Yes, the loan terms are negotiable. If you are taking the loan with the bank you have already done business or the bank with whom you have your salary/savings account you can ask for better terms as they already know about your earnings and financial capability.

      If you are going to a new lender go prepared with your credit score, salary slip and other financial details to show that you are well off and can negotiate better terms.</a></li> 
    
  
  </ul>

</nav> 
<nav>
  <label for="touch6"><span class="txt">7.       What is the EMI cycle?
 

  </span></label>               
  <input type="checkbox" id="touch6">


<ul class="slide">
    <li><a href="#" class="txt ln">The EMI due date or cycle is dependent on the borrower. It can be the first of the month or 5th of the month. The borrower can choose the day as per their convenience. Some banks do give a set day as their processing day are automated.
    </a></li> 
    
  
  </ul>

</nav> 
<nav>
  <label for="touch7"><span class="txt">8.       Are there chances of my loan application being rejected?
   

  </span></label>               
  <input type="checkbox" id="touch7"> 

  <ul class="slide">
    <li><a href="#" class="txt ln">            Yes, if you have a low credit score, you had defaulted on any payments, have negative remarks like “Settled” or “written off”, salary discrepancies, problems at time of background verification and mistakes in the application form are all reasons to have your loan application rejected. The lender will send a rejection letter which will have all the details of the reason for rejection which you could rectify before applying for the loan again.
    </a></li> 
    
  
  </ul>

</nav> 
<nav>
  <label for="touch8"><span class="txt">9.       What will happen if I miss any EMI?
   
  </span></label>               
  <input type="checkbox" id="touch8"> 

  <ul class="slide">
    <li><a href="#" class="txt ln"> It is best to pay your EMI on time. Most banks will tolerate any late payments for 1 or 2 times and if you don’t pay your EMI at all the bank has every authority to seize the car. Furthermore if you default on EMI your credit score will take a hit which will spoil your chances of getting any form of credit in the future.</a></li> 
    
  
  </ul>

</nav> 
<nav >
  <label for="touch9"><span class="txt">10.   Can I get a loan for used cars? What are the factors that affect the interest rate?
    

  </span></label>               
  <input type="checkbox" id="touch9"> 

  <ul class="slide" >
    <li ><a href="#" class="txt ln"> Yes you can get a loan to buy used cars but the interest rate will be higher than compared to a new car as the old car has lesser resale value.

      The factors that affect the interest rate of the car include your credit score, salary, company your work for, where you stay (rental, own house), debt to income ratio, tenure you choose and most important of all the age and model of the car. The age and model is important as if the car is older it will be subjected to wear and tear. If the car is not in production then the loan rate will increase.

</a></li> 
    
  
  </ul>

</nav> 




  <!--Section: FAQ-->