<p>viewequiry works!</p>
<section class="intro">
    <div class="bg-image h-100" >
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="text-center pt-5">      
            <h2 style="margin-bottom:20px;">Enquiry List</h2>          
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 300px; ">
                    <table class="table table-striped mb-0">
                      <thead style="background-color: #3081d7;">
                        <tr>
                          <th scope="col">CID</th>
                          <th scope="col">FName</th>
                          <th scope="col">LName</th>
                          <th scope="col">Age</th>
                          <th scope="col">EmailId</th>   
        
                          <th scope="col">MobileNo</th>  
                          <th scope="col">PancardNo</th>                                               
                          <th scope="col">Status</th>
                          <th scope="col">Edit</th>
                          <th scope="col">Delete</th>
                          <th scope="col">Action</th>
                          
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let e of ellist"> 
               
                          <td>{{e.cid}}</td>  
                          <td>{{e.firstname}}</td> 
                          <td>{{e.lastname}}</td> 
                          <td>{{e.age}}</td> 
                          <td>{{e.email}}</td> 
                         <td>{{e.mobileno}}</td>
                         <td>{{e.pancardno}}</td>
                          <td>{{e.status}}</td> 
                                  
                   
                          
                                              
                          <td>
                              <a mat-raised-button color="primary" (click)="editEnquiry(e)">
                                <i class="fa fa-edit"></i>
                             </a>       </td>                  
                         <td>   <a  mat-raised-button color="primary" (click)="deleteEnquiry(e.cid)" style="margin-left: 5px;">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td> 
                          <td *ngIf="e.status=='eligible'">
                           <button  routerLink="role/relation/oecustomer" mat-raised-button color="success" style=" width:150px;" (click)="update(e)">register</button> 
                          </td>
                          <td *ngIf="e.status=='enquiry'">
                            <button class="btn btn-warning" mat-raised-button color="accent" style=" width:150px;">pending..</button> 
                           </td>  
                           <td *ngIf="e.status=='lowcibil'">
                            <button class="btn btn-danger" mat-raised-button color="warn" style=" width:150px;" (click)="rejectmail(e.cid)" >rejection mail</button> 
                           </td> 
                           <td *ngIf="e.status=='rejected'">
                            <button  class="btn btn-dark" mat-raised-button color="success" style=" width:150px;" disabled>rejected</button> 
                           </td> 
                           <td *ngIf="e.status=='registred'">
                            <button  class="btn btn-success" mat-raised-button color="warn" style=" width:150px;"disabled>registered</button> 
                           </td>           
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

