<p>aboutus works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="about-section">
    <h1>About Us</h1>
    <!-- <p>We are Developer, We teach how to become full stack developer.</p> -->
  </div>

  <h2 style="text-align:center">Our Team(FDJB-150)</h2>

  <div >
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="\assets\img\1517618859569.jpg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Sohan singh</h4>
              <p class="title">Team Leader </p>
              
              <p>FullStack Developer</p>
              <p>sohansingh@gmail.com</p>
              
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="\assets\img\1517618859569.jpg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Priyanka kanhekar</h4>
              <p class="title"></p>              
              <p>FullStack Developer</p>
              <p>priyankakanhekar19@gmail.com</p>
             

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="\assets\img\1517618859569.jpg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Minal Dhaigude</h4>
              <p class="title">Team members</p>
              <p>FullStack Developer</p>
              <p>minal@gmail.com</p>
             
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="\assets\img\1517618859569.jpg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Ganesh Deshmane</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>ganesh@gmail.com</p>
              

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="\assets\img\1517618859569.jpg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Supriya Waghmare</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>supriya@gmail.com</p>
              

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="\assets\img\1517618859569.jpg" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Mangesh Waghmare</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>mangesh@gmail.com</p>
             

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

</body>

</html><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>



</html>
<!-- <a routerLink="aboutus"></a>
<router-outlet></router-outlet> -->